In [90]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [91]:
application_df = application_df.drop(columns=["EIN", "NAME"], axis=1)
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [92]:
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [93]:
application_type = application_df.APPLICATION_TYPE.value_counts()
application_type

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [94]:
replace_application = list(application_type[application_type < 200].index)

for app in replace_application:
    application_df.APPLICATION_TYPE = application_df.APPLICATION_TYPE.replace(app,"Other")
    
application_df.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [95]:
classification = application_df.CLASSIFICATION.value_counts()
classification

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [96]:
replace_class = list(classification[classification < 2000].index)

for cls in replace_class:
    application_df.CLASSIFICATION = application_df.CLASSIFICATION.replace(cls,"Other")

application_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
Other     6062
C1200     4837
Name: CLASSIFICATION, dtype: int64

In [107]:
app_cat = ['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS']

In [108]:
enc = OneHotEncoder(sparse=False)

encode_df = pd.DataFrame(enc.fit_transform(application_df[app_cat]))

encode_df.columns = enc.get_feature_names(app_cat)
encode_df.head()

/Users/ykwim/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [109]:
application_df = application_df.merge(encode_df, left_index = True, right_index = True).drop(columns = app_cat, axis = 1)
application_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [110]:
y = application_df['IS_SUCCESSFUL'].values
X = application_df.drop(['IS_SUCCESSFUL'], 1).values
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

/Users/ykwim/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

In [111]:
scaler = StandardScaler()
X_scaler = scaler.fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [112]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
num_input_features = len(X_train_scaled[0])
nodes_hidden_layer1 = 8
nodes_hidden_layer2 = 30
nodes_hidden_layer3 = 20

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units = nodes_hidden_layer1, activation = "relu", input_dim = num_input_features))
# Second hidden layer
nn.add(tf.keras.layers.Dense(units = nodes_hidden_layer2, activation = "sigmoid"))

# third hidden layer n
nn.add(tf.keras.layers.Dense(units = nodes_hidden_layer3, activation = "sigmoid"))

# Output layer
nn.add(tf.keras.layers.Dense(units = 1, activation = "sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_13"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_39 (Dense)            (None, 8)                 336

 dense_40 (Dense)            (None, 30)                270

 dense_41 (Dense)            (None, 20)                620

 dense_42 (Dense)            (None, 1)                 21

=================================================================
Total params: 1,247
Trainable params: 1,247
Non-trainable params: 0
_________________________________________________________________

In [115]:
nn.compile(loss = "binary_crossentropy", optimizer="adam", metrics = ["accuracy"] )

In [116]:
import os
from tensorflow.keras.callbacks import ModelCheckpoint

os.makedirs("checkpoints/",exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"

In [117]:

cp_callback = ModelCheckpoint(
    filepath = checkpoint_path,
    verbose = 1,
    save_weights_only = True, 
    save_freq = 'epoch',
    period = 5
    )

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

In [118]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100,callbacks=[cp_callback])

Epoch 1/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6112 - accuracy: 0.6816
Epoch 2/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5676 - accuracy: 0.7276
Epoch 3/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5623 - accuracy: 0.7292
Epoch 4/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5607 - accuracy: 0.7290
Epoch 5/100
778/804 [============================>.] - ETA: 0s - loss: 0.5582 - accuracy: 0.7287
Epoch 5: saving model to checkpoints/weights.05.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5593 - accuracy: 0.7280
Epoch 6/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5586 - accuracy: 0.7284
Epoch 7/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5577 - accuracy: 0.7282
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5572 - accuracy: 0.7294
Epoch 9/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5568 - accuracy: 0.7283
Epoch 10/100
779/804 [============================>.] - ETA: 0s - loss: 0.5560 - accuracy: 0.7301
Epoch 10: saving model to checkpoints/weights.10.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5564 - accuracy: 0.7297
Epoch 11/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5560 - accuracy: 0.7291
Epoch 12/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5558 - accuracy: 0.7297
Epoch 13/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5552 - accuracy: 0.7299
Epoch 14/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5550 - accuracy: 0.7301
Epoch 15/100
760/804 [===========================>..] - ETA: 0s - loss: 0.5543 - accuracy: 0.7296
Epoch 15: saving model to checkpoints/weights.15.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5545 - accuracy: 0.7298
Epoch 16/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5545 - accuracy: 0.7308
Epoch 17/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5540 - accuracy: 0.7305
Epoch 18/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5536 - accuracy: 0.7308
Epoch 19/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5535 - accuracy: 0.7309
Epoch 20/100
786/804 [============================>.] - ETA: 0s - loss: 0.5522 - accuracy: 0.7330
Epoch 20: saving model to checkpoints/weights.20.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5533 - accuracy: 0.7320
Epoch 21/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5535 - accuracy: 0.7320
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5530 - accuracy: 0.7310
Epoch 23/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5528 - accuracy: 0.7305
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5530 - accuracy: 0.7314
Epoch 25/100
759/804 [===========================>..] - ETA: 0s - loss: 0.5520 - accuracy: 0.7331
Epoch 25: saving model to checkpoints/weights.25.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5523 - accuracy: 0.7322
Epoch 26/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5524 - accuracy: 0.7316
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5523 - accuracy: 0.7313
Epoch 28/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5522 - accuracy: 0.7313
Epoch 29/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5524 - accuracy: 0.7324
Epoch 30/100
774/804 [===========================>..] - ETA: 0s - loss: 0.5518 - accuracy: 0.7308
Epoch 30: saving model to checkpoints/weights.30.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5518 - accuracy: 0.7311
Epoch 31/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5517 - accuracy: 0.7331
Epoch 32/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5515 - accuracy: 0.7317
Epoch 33/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5516 - accuracy: 0.7329
Epoch 34/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5512 - accuracy: 0.7320
Epoch 35/100
753/804 [===========================>..] - ETA: 0s - loss: 0.5502 - accuracy: 0.7345
Epoch 35: saving model to checkpoints/weights.35.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5514 - accuracy: 0.7333
Epoch 36/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5513 - accuracy: 0.7314
Epoch 37/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5510 - accuracy: 0.7334
Epoch 38/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5512 - accuracy: 0.7318
Epoch 39/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5509 - accuracy: 0.7319
Epoch 40/100
777/804 [===========================>..] - ETA: 0s - loss: 0.5507 - accuracy: 0.7335
Epoch 40: saving model to checkpoints/weights.40.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5508 - accuracy: 0.7334
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5510 - accuracy: 0.7324
Epoch 42/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5504 - accuracy: 0.7328
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5506 - accuracy: 0.7334
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5507 - accuracy: 0.7329
Epoch 45/100
794/804 [============================>.] - ETA: 0s - loss: 0.5506 - accuracy: 0.7328
Epoch 45: saving model to checkpoints/weights.45.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5506 - accuracy: 0.7327
Epoch 46/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5504 - accuracy: 0.7326
Epoch 47/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5504 - accuracy: 0.7323
Epoch 48/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5502 - accuracy: 0.7337
Epoch 49/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5502 - accuracy: 0.7325
Epoch 50/100
769/804 [===========================>..] - ETA: 0s - loss: 0.5502 - accuracy: 0.7335
Epoch 50: saving model to checkpoints/weights.50.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5505 - accuracy: 0.7331
Epoch 51/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5500 - accuracy: 0.7340
Epoch 52/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5499 - accuracy: 0.7339
Epoch 53/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5497 - accuracy: 0.7337
Epoch 54/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5496 - accuracy: 0.7332
Epoch 55/100
776/804 [===========================>..] - ETA: 0s - loss: 0.5496 - accuracy: 0.7342
Epoch 55: saving model to checkpoints/weights.55.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5498 - accuracy: 0.7337
Epoch 56/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5496 - accuracy: 0.7335
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5494 - accuracy: 0.7333
Epoch 58/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5495 - accuracy: 0.7335
Epoch 59/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5493 - accuracy: 0.7336
Epoch 60/100
793/804 [============================>.] - ETA: 0s - loss: 0.5491 - accuracy: 0.7335
Epoch 60: saving model to checkpoints/weights.60.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5492 - accuracy: 0.7333
Epoch 61/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5491 - accuracy: 0.7335
Epoch 62/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5492 - accuracy: 0.7337
Epoch 63/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5490 - accuracy: 0.7334
Epoch 64/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5490 - accuracy: 0.7348
Epoch 65/100

790/804 [============================>.] - ETA: 0s - loss: 0.5490 - accuracy: 0.7343
Epoch 65: saving model to checkpoints/weights.65.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5490 - accuracy: 0.7343
Epoch 66/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5489 - accuracy: 0.7341
Epoch 67/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5487 - accuracy: 0.7334
Epoch 68/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5486 - accuracy: 0.7342
Epoch 69/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5486 - accuracy: 0.7338
Epoch 70/100
760/804 [===========================>..] - ETA: 0s - loss: 0.5494 - accuracy: 0.7323
Epoch 70: saving model to checkpoints/weights.70.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5485 - accuracy: 0.7336
Epoch 71/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5485 - accuracy: 0.7338
Epoch 72/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5483 - accuracy: 0.7331
Epoch 73/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5484 - accuracy: 0.7336
Epoch 74/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5483 - accuracy: 0.7334
Epoch 75/100
787/804 [============================>.] - ETA: 0s - loss: 0.5490 - accuracy: 0.7330
Epoch 75: saving model to checkpoints/weights.75.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5482 - accuracy: 0.7336
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5484 - accuracy: 0.7332
Epoch 77/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5482 - accuracy: 0.7335
Epoch 78/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5484 - accuracy: 0.7330
Epoch 79/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5479 - accuracy: 0.7340
Epoch 80/100
795/804 [============================>.] - ETA: 0s - loss: 0.5484 - accuracy: 0.7338
Epoch 80: saving model to checkpoints/weights.80.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5483 - accuracy: 0.7339
Epoch 81/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5481 - accuracy: 0.7337
Epoch 82/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5480 - accuracy: 0.7338
Epoch 83/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5480 - accuracy: 0.7338
Epoch 84/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5477 - accuracy: 0.7333
Epoch 85/100
790/804 [============================>.] - ETA: 0s - loss: 0.5481 - accuracy: 0.7338
Epoch 85: saving model to checkpoints/weights.85.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5480 - accuracy: 0.7341
Epoch 86/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5478 - accuracy: 0.7344
Epoch 87/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5479 - accuracy: 0.7340
Epoch 88/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5479 - accuracy: 0.7343
Epoch 89/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5477 - accuracy: 0.7341
Epoch 90/100
755/804 [===========================>..] - ETA: 0s - loss: 0.5481 - accuracy: 0.7333
Epoch 90: saving model to checkpoints/weights.90.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5474 - accuracy: 0.7339
Epoch 91/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5475 - accuracy: 0.7338
Epoch 92/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5478 - accuracy: 0.7338
Epoch 93/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5475 - accuracy: 0.7336
Epoch 94/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5474 - accuracy: 0.7336
Epoch 95/100
799/804 [============================>.] - ETA: 0s - loss: 0.5472 - accuracy: 0.7345
Epoch 95: saving model to checkpoints/weights.95.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5473 - accuracy: 0.7344
Epoch 96/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5477 - accuracy: 0.7341
Epoch 97/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5473 - accuracy: 0.7342
Epoch 98/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5473 - accuracy: 0.7336
Epoch 99/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5471 - accuracy: 0.7336
Epoch 100/100
757/804 [===========================>..] - ETA: 0s - loss: 0.5480 - accuracy: 0.7343
Epoch 100: saving model to checkpoints/weights.100.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5476 - accuracy: 0.7346

In [119]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5571 - accuracy: 0.7237 - 296ms/epoch - 1ms/step
Loss: 0.5570635795593262, Accuracy: 0.7237317562103271

In [120]:
# Export our model to HDF5 file
nn_new.save("AlphabetSoupCharity_Optimzation.h5")